
body {
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    color: #4E4E50;
    font-size: 12px;
    position: fixed;
    bottom: 0;
    padding-top: 20px;
}

ul {
    color: #fff;
    padding: 0;
    list-style-type: none;
}

button {
    background-color: #1A1A1D;
    border: 1px solid white;
    color: white;
    font-size: 15px;
    text-align: center;
    margin:  1px;
}

button:hover {
    background-color: white;
    border: none;
    color: #1A1A1D;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

.welcome {
    margin: 0;
    padding: 4em 15%;
    background-color: #f4f4f4;
    color: #4c4c4c;
}

.welcome h1 {
    color: #000
}

.welcome p {
    border: solid 1px black;
    padding: 20px
}

.demo {
    margin: 0;
    padding: 4em 15%;
    background-color: #1A1A1D;
}

.demo h1 {
    color: #4E4E50
}


.box {
    margin: 30px 0 20px 0;
    height: 300px;
    background-color: #0B0C10;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box-gt {
    margin: 30px 0 20px 0;
    height: 300px;
    background-color: #0B0C10;
}

.proceed {
    margin-top: 20px;
}

.proceed-button-group {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}

.proceed hr {
    border: 1px solid #4E4E50;
}

.proceed-button {
    display: inline-block;
    background-color: #1A1A1D;
    border: none;
    color: #4E4E50;
    margin-top: 20px;
    padding: 5px 15px;
    font-size: 20px;
    text-align: center;
}

.proceed-button:hover {
    border: 1px solid #fff;
}

.magic-stone {
    width: 50px;
    height: 50px;
    background-color: rgb(245, 230, 99);
    border: 10px solid rgba(136, 136, 136, .5);
    border-radius: 50%;
    margin: 10%;
    /* transform: rotate(45deg); */
}

.normal-stone {
    width: 60px;
    height: 60px;
    background-color: rgb(245, 230, 99);
    border-radius: 50%;
    margin: 10%;
}

#stone1 {
    background-color: rgb(61, 60, 134);
}

.learning {
    margin-top: 50px;
}

.generalization {
    display: none;
    margin-top: 100px;
}

.learning h2 {
    color: white;
}

.learning p {
    color: #747474;
    font-size: 20px;
}

.generalization h2 {
    color: white;
}

.generalization p {
    color: #747474;
    font-size: 20px;
}

/* .stone:active{
    background-color: rgba(168, 218, 220, 1.00);
} */

/* .stone:hover {
    cursor: pointer;
    border-width: 20px;
} */
